<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Blog List start -->
        <div class="blog-container blogdetail">
          <div class="blog-listing">
        <div class="post-detail">
          <div class="blog-post-heading margin-top30">
            <div style="width: auto;word-wrap: break-word"><b>Nom:</b> <span>{{model.nom}}</span>
            </div>
            <div  style="width: auto;word-wrap: break-word"><b>Prénom: </b><span>{{model.prenom}}</span>
            </div>
            <div style="width: auto;word-wrap: break-word"><b>Téléphone:</b> <span>{{model.telephone}}</span>
            </div> 
            <div style="width: auto;word-wrap: break-word"><b>Email:</b> <span>{{model.email}}</span>
            </div> 
            <div style="width: auto;word-wrap: break-word"><b>Sujet: </b><span>{{model.sujet}}</span>
            </div> 
            <div style="width: auto;word-wrap: break-word"><b>Message: </b><span>{{model.messagee}}</span>
            </div> 
            <a class="btn btn-info" routerLink="/boite"  >Retourner</a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


