<div class="main-content">
  <h1 class="wew fadeInUp" data-wew-delay="0.2s">NOUS
    <span>CONTACTER</span>
  </h1>
  <div class="container">

    <div class="contact-wrap">
      <div class="row">
        <div class="col-md-4 column">
          <div class="contact-now">
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-map-marker"></i>
                </div>

                <strong>Adresse:</strong>
                <p>{{contact?.adresse}}
                </p>
              </div>
            </div>

            <!-- Contact Info -->
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-envelope"></i>

                </div>
                <br>
                <strong>ADRESSE E-MAIL</strong>
                <p>{{contact?.mail}}</p>

              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <br>
                <strong>telephone</strong>
                <p>{{contact?.tel1}} </p>
                <p>{{contact?.tel2}}</p>
              </div>
            </div>
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-fax"></i>
                </div>
                <strong>Fax</strong>
                <p>{{contact?.fax}}</p>
              </div>
            </div>

            <!-- Contact Info -->
          </div>
          <!-- Contact Now -->
        </div>


        <div class="col-md-8 column">
          <div class="contact-form">



            <div class="wew fadeInUp" data-wew-delay="0.2s">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate style="width:70%;" action="" method="post"
                id="contact-form">
                <div class="form-group">
                  <label for="firstName">Prénom</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                    required />
                  <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required" style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <label for="lastName">Nom</label>
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                    required />
                  <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                    <div *ngIf="lastName.errors.required" style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <label for="phone">Téléphone</label>
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                    required />
                  <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                    <div *ngIf="phone.errors.required" style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                    required email />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required" style="color:#ed1c24">Ce champ est obligatoire</div>
                    <div *ngIf="email.errors.email" style="color:#ed1c24">email invalide</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <label for="subject">sujet</label>
                  <input type="subject" class="form-control" name="subject" [(ngModel)]="model.subject" #subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }"
                    required maxlength="50" />
                  <div *ngIf="f.submitted && subject.invalid" class="invalid-feedback">
                    <div *ngIf="subject.errors.required" style="color:#ed1c24">ce champ est obligatoire</div>
                    <div *ngIf="subject.errors.maxlength" style="color:#ed1c24">le sujet ne peut pas depasser 50 caractères</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <label for="subject">Message</label>
                  <textarea class="form-control " name="message" rows="3" placeholder="Exprimez-vous" [(ngModel)]="model.message" #message="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                  <div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
                    <div *ngIf="message.errors.required" style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div><br>
                <div class="form-group">
                  <button type="submit" name="submit" value="Submit" id="submit_form" class="btn btn-danger btn-lg" style="padding-left:20px;padding-right:20px;background-color:#ed1c23d3">Envoyer</button>
                </div>
              </form>
            </div>
            <!--
              <div *ngif="test" class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
              </div>
              -->
 
            <h3 style="padding-left:50px;padding-top:30px" class="wew fadeInUp" data-wew-delay="0.2s"> 
              Ou bien suivez-nous sur :
            </h3> 
            <div class="contact">
              <div class="information">
                <div class="contact-icon" style="padding-left:200px">
                  <a href="{{contact?.facebook}}" class="btn-floating btn-large btn-fb" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-facebook fa-2x"></i>
                  </a>

                  <a href="{{contact?.twitter}}" class="btn-floating btn-large btn-tw" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                  <a href="{{contact?.linkedin}}" class="btn-floating btn-large btn-li" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-linkedin fa-2x"></i>
                  </a>
                  <a href="#" class="btn-floating btn-large btn-email" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-envelope fa-2x"></i>

                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>



      </div>

    </div>
  </div>

  <div class="map ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.8274643764116!2d10.196524716500226!3d36.846607985382164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c8ac35b839%3A0x722100afa6a21acc!2sR%C3%A9sidence+des+Lilas%2C+Boulevard+de+la+Terre%2C+Tunis!5e0!3m2!1sfr!2stn!4v1549913362511"
      width="100% " height="400 " frameborder="0 " style="border:0 " allowfullscreen></iframe>

  </div>
</div>