<!--inner header start-->
<div class="main-heading" style="background-image: url(../../assets/images/wabimages/actualites1.jpg);background-repeat: no-repeat; width: 100%; ">
  <div class="container">
    <h3>Actualités</h3>
  </div>
</div>
<!--inner header end-->

<!--inner content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Blog List start -->
        <div class="blog-container blogdetail">
          <div class="blog-listing">
        <div class="post-detail">
          <div class="blog-post-heading margin-top30">
            <h4 style="width: auto;word-wrap: break-word">{{actualite.titre}}</h4>
            <div class="post-info-meta">Date: <span>{{actualite.datee}}</span>
            </div>
            <p style="width: auto;word-wrap: break-word">{{actualite.contenu}}</p>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--inner content end-->
