<div class="page-section">
    <div class="container relative p-b-60 p-t-30">
        <div class="row p-b-60">
            <div class="col-md-8 col-xs-12 col-md-offset-2">
                <h1>NOS SERVICES</h1>
                <p class="text-center"></p>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs big-tabs p-b-30 p-b-sm-0">
            <li class="active">
                <a href="#service-branding" data-toggle="tab" aria-expanded="true">

                    <div class="big-tabs-icon">
                        <span class="fa fa-users"></span>

                    </div>

                    Social
                </a>
            </li>
            <li class="">
                <a href="#service-web-design" data-toggle="tab" aria-expanded="false">

                    <div class="big-tabs-icon">
                        <span class="fa fa-gavel"></span>
                    </div>

                    Juridique
                </a>
            </li>
            <li class="">
                <a href="#service-graphic" data-toggle="tab" aria-expanded="false">

                    <div class="big-tabs-icon">
                        <span class="fa fa-pencil-square-o"></span>
                    </div>

                    Etude de faisabilité / Business plan
                </a>
            </li>
            <li class="">
                <a href="#service-development" data-toggle="tab" aria-expanded="false">

                    <div class="big-tabs-icon">
                        <span class="fa fa-comments-o"></span>
                    </div>

                    Conseil
                </a>
            </li>

        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div class="service-tab tab-content tpl-tabs-cont">

            <!-- Service Item -->
            <div class="tab-pane fade active in" id="service-branding">

                <div class="section-text">
                    <div class="row">

                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <div class="icon-box dgn-5">
                                <h4><i class="fa fa-users"></i> Social</h4>
                                <p><img src="../../assets/images/services/social.jpg" />
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 m-t-50 m-b-xs-30">
                            Le cabinet Wajdi ABDELHEDI est capable de gérer de A à Z la relation contractuelle entre les employés et l’entreprise, dans le respect de la loi. Cela va de la rédaction du contrat de travail, à sa gestion dans le temps au fil de ses évolutions, jusqu’à sa rupture. Le cabinet Wajdi ABDELHEDI élabore les paies, les charges sociales et toute formalité afférente à ce domaine.</div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

            <!-- Service Item -->
            <div class="tab-pane fade" id="service-web-design">

                <div class="section-text">
                    <div class="row">

                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <div class="icon-box dgn-5">
                                <h4><i class="fa fa-gavel"></i> Juridique</h4>
                                <p><img src="../../assets/images/services/Juridique.jpg" />
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 m-t-50 m-b-xs-30">
                            En sa qualité de Conseil de haut niveau, le cabinet Wajdi ABDELHEDI s’est doté d’un département juridique capable de réaliser la naissance de personnes morales, d’en assurer l’existence, la transformation ou les évolutions, et de les dissoudre. Ce service concerne autant les sociétés, que les entrepreneurs individuels. Nous gérons, la constitution de l'entreprise, les divers actes relatifs à la vie des sociétés (assemblées générales ordinaires & extraordinaires, notamment toutes les modifications de statuts, comme le transfert du siège, le changement de dénomination, l'augmentation du capital...). L’aspect juridique des sociétés est étroitement imbriqué aux considérations fiscales et sociales et se trouve être complètement intégré au Conseil.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

            <!-- Service Item -->
            <div class="tab-pane fade" id="service-graphic">

                <div class="section-text">
                    <div class="row">

                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <div class="icon-box dgn-5">
                                <h4><i class="fa fa-pencil-square-o"></i> Etude de faisabilité / Business plan</h4>
                                <p><img src="../../assets/images/services/BP.jpg" />
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 m-t-50 m-b-xs-30">
                            Le cabinet Wajdi ABDELHEDI peut réaliser les études de faisabilité et les business plan. Ceux ci permettent de mettre en forme l’ensemble des données commerciales, techniques et financières d’un projet. Vous disposez, alors, d’un support pour communiquer avec vos partenaires et pour les convaincre.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

            <!-- Service Item -->
            <div class="tab-pane fade" id="service-development">

                <div class="section-text">
                    <div class="row">

                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <div class="icon-box dgn-5">
                                <h4><i class="fa fa-comments-o"></i> Conseil</h4>
                                <p><img src="../../assets/images/services/conseil.jpg" />
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 m-t-50 m-b-xs-30">
                            Le cabinet Wajdi ABDELHEDI a développé au fil du temps un savoir faire particulier en matière de conseil. Le cabinet Wajdi ABDELHEDI est capable de simuler des situations extrêmement complexes, de proposer la mise en place de nouvelles structures et de réaliser le travail dans d’excellentes conditions, et ce notamment en matière de : • Conseil en gestion : assistance à la création de l'entreprise, projets d’investissements, contrôle budgétaire, tableaux de bord... • Conseil en gestion financière : assistance à la gestion de trésorerie, à la recherche de financements et aux relations avec les organismes bancaires et financiers... • Formation : plan de formation, aide aux recrutements... • Conseil de l'entreprise en difficulté : restructuration, plan de continuation... • Evaluation d’entreprises dans le cadre de cessions, apports, successions, partages, donations, transmissions...
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->



        </div>
        <!-- End Tab panes -->

    </div>
</div>




