/* You can add global styles to this file, and also import other style files */
@import "assets/css/angular-material.min.css";
@import "assets/css/animate.min.css";
@import "assets/css/flexslider.css";
@import "assets/css/font-awesome.min.css";
@import "assets/css/magnific-popup.min.css";
@import "assets/css/owl.carousel.css";
@import "assets/css/style.css";
#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 8px;
  display: inline-block;
  position: static;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213A6F
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px
}
